{% extends 'base.html.twig' %}
{% block bg_image %}{{ vich_uploader_asset(article, 'imageFile') }}{% endblock %}
{% block body %}
    <main>
        <div class="blog">
            <section class="header_blog" style="background-image: url('{{ vich_uploader_asset(article, 'imageFile') }}')!important;">
                <div class="container d-flex flex-column text-center justify-content-center align-items-center header_blog_content">
                    <h1>{{ article.title }}</h1>
                    <h4>{% trans %}Posted on{% endtrans%} {{ article.dateAdd|date('d.m.Y') }} </h4>
                </div>
            </section>
            <div class="container">
                <article id="{{ article.id }}" class="col-9 m-auto article-wrapper">
                    <div class="flexbox-wrapper">
                        <div class="article-title">
                        </div>
                        <div class="article-description">
                            <p>{{ article.articleText|raw }}</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </main>
{% endblock %}
