<!DOCTYPE html>
{% block head %}
<html lang="">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129542538-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-129542538-1');
    </script>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/img/favicon-16x16.png') }}">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="webdesign, web developer, website, professional website, eshop">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Anton Loginov">
    <meta name="theme-color" content="#ffffff">
    <meta name="google-site-verification" content="LW_g_gZWmcKDOjxbMOfyoePNU0QUE-cjgeHBqoOJE60"/>
    <link rel="manifest" href="/manifest.json">
    {% block title %}
        <meta name="og:title" property="og:title" content="{% if meta.title is defined %}{{ meta.title }}{% else %}Anton Loginov - web developer{% endif %}">
        <title>
           {% if meta.title is defined %}{{ meta.title }}{% else %}Anton Loginov - web developer{% endif %}
        </title>
        <meta property="og:image" content="{{ asset('build/img/blog_bg.jpg') }}"/>
        <meta name="description"
              content="{% if meta.description is defined %}{{ meta.description }}{% else %}I believe that everyone deserves a chance to start their own business and I want to help you to achieve that goal by creating a beautiful, fast and most importantly reliable web application specifically designed for your business idea. Write me a message and let's get it going.{% endif %}">
        <meta name="og:description" property="og:description"
              content="{% if meta.description is defined %}{{ meta.description }}{% else %}I believe that everyone deserves a chance to start their own business and I want to help you to achieve that goal by creating a beautiful, fast and most importantly reliable web application specifically designed for your business idea. Write me a message and let's get it going.{% endif %}">
    {% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
{% endblock %}
<body>
{{ include('menu.html.twig') }}
{% block header %}
    <header>
    </header>
{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}
    <footer class="footer d-flex flex-row flex-wrap align-items-center justify-content-around">
        <div class="container">
            <p class="page-copyright mb-0 text-center"><i class="far fa-copyright"></i> All rights reserved</p>
        </div>
    </footer>
    <div class="alert alert-light alert-dismissible fade show error mt-2 cookies-consent" role="alert">
        This site uses cookies. By continuing to visit this site you agree to our use of cookies.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        const contactFormUrl = '{{ path('home') }}';
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('{{ asset('/service-worker.js') }}');
        }
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
